ul .list-section__item {
  position: relative;
}

ul .list-section__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  background: $black;
}

.transfer__title {
  max-width: 1394px;
}

.section__subtitle {
  margin-bottom: 50px;
  max-width: 700px;
}

.section__wrapper {
}
.transfer__wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.transfer__item {
  flex: 0 1 807px;
}
.item-transfer {
}
.bottom-section__title {
}
.item-transfer__title {
  margin-bottom: 30px;
}
.yellow {
}
.item-transfer__text {
  margin-bottom: 20px;
  font-weight: 300;
}
.item-transfer__list {
  max-width: 575px;
}
.list-transfer {
}
.list-transfer__item {
}
.list-section__item {
}

.order {
  flex: 0 1 507px;
}

.order__img {
  margin-bottom: 20px;
}

.order__text {
  margin-bottom: 20px;
}

.order__link {
  font-weight: 700;
  color: $black;
}

.order__link span {
  display: block;
}

.master__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 670px 507px;
  justify-content: space-between;

  gap: 40px;
}
.master__item {
}
.item-master {
}
.bottom-section__title {
}
.item-master__title {
}
.light-blue {
}
.item-master__text {
}
.item-section__text {
}
.item-master__list {
}
.list-master {
}
.list-master__item {
}
.list-section__item {
}
.order {
}
.order__title {
}
.orange {
}
.order__text {
}
.small-text {
}
.order__img {
}
.order__link {
}
.for-you__text {
}

.item-master__list {
  margin-bottom: 20px;
}

@media (max-width: 1441px) {
  .master__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .transfer__wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .transfer__item {
    flex: 1 1 auto;
  }

  .order__img {
    max-width: 100px;
  }
}

@media (max-width: 576px) {
  .order__img {
    max-width: 80px;
  }
  .item-transfer__title {
    margin-bottom: 20px;
  }
  .section__subtitle {
    margin-bottom: 40px;
  }
  .master__wrapper {
    grid-template-columns: 1fr;
  }
}
