.section {
}
.advantages {
  margin-bottom: 175px;
}
.advantages__container {
}
.section__title {
}
.advantages__title {
}
.yellow {
}
.advantages__subtitle {
  max-width: 940px;
  margin-bottom: 20px;
}

.section {
}
.advantages {
}
.advantages__container {
}
.section__title {
}
.advantages__title {
}
.yellow {
}
.advantages__subtitle {
}
.advantages__wrapper {
}
.advantages__column {
}
.column-advantages {
}
.column-advantages-img {
}
.column-advantages-content {
}
.column-advantages__wrapper {
}
.column-advantages__item {
  border: 1px solid $yellow;
  border-radius: 30px;
  padding: 50px 30px;
}
.item-column-advantages {
}
.item-column-advantages__img {
  background-color: $light-blue;
  padding: 10px;
  border-radius: 12px;
}
.item-column-advantages__number {
}
.item-column-advantages__title {
}
