.available-platforms {
}
.available-platforms__container {
}

.available-platforms__wrapper {
  border: 1px solid $orange;
  border-radius: 30px;
  padding: 50px 0px 0px 45px;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  outline: none;
}

.tablink {
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 85%;
  font-weight: 400;
  transition: background-color 0.3s;
}

.tablink.active {
  background: none;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tabs__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs__text {
  max-width: 660px;
}

.column-tabs__text {
  flex: 1 1 40%;
}
.tabs__img {
  border-radius: 0px 0px 30px 0px;
}
.column-tabs__imgs {
  display: flex;
  align-items: end;
  justify-content: end;
  flex: 1 1 55%;
  position: relative;
}
.column-tabs__imgs img {
  max-height: 613px;
}
.tabs__img-transform {
  transform: translateY(20px);
}

.tabs__text-down {
  display: flex;
  align-items: center;
}

.tabs__buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 22px;
}

.tabs-install {
  font-size: 18px;
  line-height: 122%;
}

.tabs__button {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $orange;
}

.tabs__button a {
  display: block;
}
.tabs__button i {
  display: block;
  color: $orange;
}

.tabs__img:not(:last-child) {
  position: absolute;
}
.tabs__img:first-child {
  position: relative !important;
}

.tabs__button svg {
  max-width: 18px;
  color: $orange !important;
}

.swiper-slide,
.available-platforms__wrapper {
  transition: border-color 0.3s ease;
}

@media (max-width: 1441px) {
  .column-tabs__text {
    flex: 1 1 35%;
  }
  .tabs__wrapper {
    gap: 20px;
  }
  .column-tabs__imgs {
    max-width: 60%;
  }
  .tabs__buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .tabs__wrapper {
    flex-direction: column-reverse;
  }
  .available-platforms__wrapper {
    padding: 40px 0px 20px 30px;
  }
  .tabs__img-transform {
    transform: none;
  }
  .column-tabs__imgs {
    max-width: 100%;
  }
  .tabs {
    margin-bottom: 20px;
  }
  .tabs__title {
    margin-bottom: 10px !important;
  }
  .tabs__buttons-stores img {
    max-width: 120px;
  }
  .tabs__buttons {
    gap: 10px;
  }
  .tabs__button {
    width: 40px;
    height: 40px;
  }
  .tabs__button i {
    font-size: 20px;
  }
  .tabs__buttons {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .tabs-install {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .tablink {
    padding: 0;
  }
  .tabs {
    gap: 20px;
    margin-right: 20px;
  }
  .available-platforms__wrapper {
    padding: 20px 0px 20px 20px;
  }
  .tabs__button {
    width: 26px;
    height: 26px;
  }
  .tabs__button i {
    font-size: 14px;
  }
  .tabs__buttons-stores img {
    max-width: 110px;
  }
  .tablink {
    font-size: 14px;
  }
  .available-platforms__wrapper {
    border-radius: 25px;
  }
}
