.available-platforms {
  margin-bottom: 170px;
}
.available-platforms__container {
}

.available-platforms__wrapper {
  border: 1px solid $orange;
  border-radius: 30px;
  padding: 50px 5px 100px 45px;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  outline: none;
}

.tablink {
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  line-height: 85%;
  font-weight: 400;
  transition: background-color 0.3s;
}

.tablink.active {
  background: none;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tabcontent {
}
.active {
}
.tabs__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs__column {
}
.section__title {
}
.tabs__title {
}
.tabs__text {
  max-width: 660px;
}

.column-tabs__text {
  flex: 1 1 40%;
}
.column-tabs__imgs {
  display: flex;
  align-items: end;
  flex: 1 1 55%;
  position: relative;
}

.tabs__text-down {
  display: flex;
  align-items: center;
}

.tabs__buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 22px;
}

.tabs-install {
  font-size: 18px;
  line-height: 122%;
}

.tabs__button {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $orange;
}

.tabs__button a {
  display: block;
}
.tabs__button i {
  display: block;
  color: $orange;
  // width: 48px;
  // height: 48px;
  // display: block;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // border-radius: 50%;
  // border: 1pc solid $orange;
}

.tabs__img:not(:last-child) {
  position: absolute;
}
.tabs__img:first-child {
  position: relative !important;
}

.tabs__button svg {
  max-width: 18px;
  color: $orange !important;
}
