.section {
}
.available-platforms {
  margin-bottom: 170px;
}
.available-platforms__container {
}

.available-platforms__wrapper {
  border: 1px solid $orange;
  border-radius: 30px;
  padding: 50px 5px 100px 45px;
}

.tabs {
  display: flex;
}

.tablink {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tablink.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 20px;
}

.tabcontent.active {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
