.best-partnership__wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.best-partnership__column {
  flex: 1 1 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

.column-best-partnership__button {
  padding: 10px;
  display: inline-block;
  max-width: 425px;
  color: $white;
  text-align: center;
  background: $orange;
  border-radius: 30px;
}

.column-best-partnership-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.column-best-partnership-img img {
  max-width: 379px;
}
