.convenient-platform {
  margin-bottom: 130px;
}

.convenient-platform__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.convenient-platform__text {
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
}

.convenient-platform__p {
  margin-bottom: 100px;
}

.convenient-platform__imgs {
  flex: 1 1 65%;
}

.convenient-platform__ctrade {
  max-width: 500px;
  background: $white;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 35px 29px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.ctrade__title {
  font-weight: 600;
  font-size: clamp(16px, 2vw, 32px);
  color: #000;
}
.ctrade__text {
  font-size: clamp(14px, 2vw, 22px);
  color: #000;
}

.convenient-platform__imgs {
  display: flex;
  position: relative;
}

.convenient-platform__wrapper-img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.convenient-platform__img_large {
  transform: translateX(-80px);
}

.convenient-platform__img:first-child {
  transform: translateX(30px);
}

.convenient-platform-mobile {
  display: none;
}

@media (max-width: 1441px) {
  .convenient-platform__img {
    max-width: 40% !important;
  }

  .convenient-platform__imgs {
    flex: 1 1 50%;
  }

  .convenient-platform__img_large {
    transform: none;
  }

  .convenient-platform__ctrade {
    padding: 30px 20px;
    border-radius: 25px;
  }
  .section {
    margin-bottom: 120px;
  }
}

@media (max-width: 1320px) {
  .convenient-platform__imgs {
    flex: 1 1 65%;
  }
  .convenient-platform__ctrade {
    padding: 25px 15px;
    border-radius: 20px;
  }

  .convenient-platform__img {
    max-width: 35% !important;
  }

  .convenient-platform__p {
    margin-bottom: 60px;
  }
  .section {
    margin-bottom: 100px;
  }
  .section__title {
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) {
  .convenient-platform__wrapper {
    flex-direction: column;
  }
  .section__title-desktop {
    display: none;
  }
  .convenient-platform-mobile {
    display: block;
  }
  .convenient-platform__wrapper {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .convenient-platform__p {
    margin-bottom: 30px;
  }
  .convenient-platform__ctrade {
    padding: 15px 10px;
    border-radius: 16px;
  }
  .ctrade__logo img {
    max-width: 52px;
  }
  .convenient-platform__img {
    max-width: 30% !important;
  }
}
@media (max-width: 768px) {
  .convenient-platform__wrapper-img {
    gap: 15px;
  }
  .convenient-platform__img {
    max-width: 25% !important;
  }
  .ctrade__logo img {
    max-width: 44px;
  }
  .convenient-platform__p {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .convenient-platform__wrapper-img {
    gap: 20px;
  }
  .ctrade__logo img {
    max-width: 32px;
  }
  .convenient-platform__ctrade {
    border-radius: 14px;
  }
  .convenient-platform__p {
    margin-bottom: 15px;
  }
}
