.platform-for {
}

.options-for {
  display: flex;
  column-gap: 45px;
  margin-bottom: 30px;
}
.options-for__item {
  position: relative;
  padding-left: 55px;
}

.options-for__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../img/check-orange.svg") no-repeat;
  display: inline-block;
}
.platform-for__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.platform-for__description {
  margin-bottom: 30px;
  max-width: 790px;
}

.platform-for__column:first-child {
  flex: 1 1 60%;
}

.platform-for__bg {
  position: absolute;
  width: auto;
  height: auto;
  display: block;
  top: -20%;
  right: 0;
  z-index: 0;
}

.platform-for__img {
  position: relative;
  z-index: 1;
}

.platform-for__column:last-child {
  flex: 1 1 40%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.platform-for__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 30px;
}
.platform-for__item {
  font-size: 18px;
  line-height: 122%;
  font-weight: 300;
  padding-left: 14px;
  position: relative;
}

.platform-for__item::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 7px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: $orange;
}

.platform-for__links {
  justify-content: start;
  column-gap: 55px;
}
