.section {
  margin-bottom: 150px;
}

.large-text {
  font-size: clamp(16px, 2.5vw, 30px);
  line-height: 122%;
}

.normal-text {
  line-height: 122%;
}

.description {
  font-size: 18px;
  line-height: 122%;
}

.section__title {
  // font-family: "Norwesterg", sans-serif;
  font-size: 60px;
  line-height: 85%;
  font-weight: 700;
  margin-bottom: 80px;
}
