.section {
  margin-bottom: 150px;
}

.large-text {
  font-size: clamp(16px, 2.2vw, 30px);
  line-height: 122%;
}

.normal-text {
  font-size: clamp(16px, 1.8vw, 24px);
  line-height: 122%;
}

.description {
  font-size: 18px;
  line-height: 122%;
}

.section__title {
  font-size: clamp(24px, 5vw, 60px);
  line-height: 85%;
  font-weight: 700;
  margin-bottom: 80px;
}
