.trade-with-us {
  padding-top: 180px;
  background: $black;
  padding-bottom: 285px;
  // margin-top: 50px;
  margin-bottom: 40px;
}
.trade-with-us__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.trade-with-us__column {
  position: relative;
  z-index: 1;
}

.trade-with-us__title {
  font-size: clamp(26px, 6vw, 65px); // 65px;
  margin-bottom: 40px;
  color: $white;
  line-height: 122%;
  font-weight: 700;
}

.trade-with-us__title span {
  color: $blue;
}

.text-trade-with-us {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 705px;
}

.text-trade-with-us__item {
  color: $white;
  font-weight: 100;
}

.text-trade-with-us__item:first-child {
  max-width: 660px;
}

.text-area {
  flex: 1 1 60%;
}

.img-area {
  flex: 1 1 40%;
}

.img-area__bg img {
  max-width: 940px;
}

.img-area__bg {
  position: absolute;
  right: 0;
  // right: -70px;
  top: -20px;
  z-index: 0;
}

.img-area__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-area__img {
  position: relative;
  z-index: 1;
}

.trade-with-us__button-section {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 625px;
}
.trade-with-us__button {
  display: inline-block;
  color: $black;
  background: $blue;
  font-size: 18px;
  line-height: 122%;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

@media (max-width: 1441px) {
  .text-trade-with-us {
    row-gap: 30px;
  }

  .trade-with-us {
    padding-top: 140px;
  }
}

@media (max-width: 1025px) {
  .trade-with-us {
    padding-top: 120px;
  }
}
