.trade-platform {
  margin-bottom: 135px;
}
.trade-platform__container {
}
.section__title {
}
.tabs__title {
}

.trade-platform-main-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.trade-platform-top__wrapper {
  display: flex;
  align-items: start;
}
.trade-platform__column {
}
.top-column-trade {
  flex: 0 1 420px;
}

.top-column-trade__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-column-trade__main-text {
  margin-bottom: 25px;
  max-width: 430px;
}
.top-column-trade__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.list-top-column-trade {
}
.list-top-column-trade__item {
  font-size: 18px;
  line-height: 122%;
}

.trade-platform-bottom__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.trade-platform-bottom__info {
  height: inherit;
}

.info-trade-platform__wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
  height: inherit;
}
.info-trade-platform__item {
  flex: 0 1 320px;
}
.info-trade-platform__title {
  color: $white;
  text-transform: uppercase;
  padding: 4px 10px;
  background: $orange;
  display: inline-block;
  border-radius: 30px;
  font-size: 30px;
  line-height: 122%;
  font-weight: 300;
  margin-bottom: 20px;
}
.info-trade-platform__text {
  font-size: 18px;
  line-height: 122%;
  font-weight: 300;
}

.trade-platform-bottom-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trade-platform-bottom__column {
  flex: 1 1 25%;
  flex-basis: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.trade-platform-bottom__column_center {
  align-self: center;
}

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trade-platform-bottom__title {
  flex: 1 1 50%;
  max-width: 590px;
  font-weight: 300;
  font-size: 34px;
}

.arrow {
  transform: rotate(-45deg);
  color: $white;
  font-size: 15px;
}
