.types {
  margin-top: 180px;
}

.types__swiper {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
.info-column__title {
  font-size: clamp(16px, 3vw, 40px);
  font-weight: 700;
}
.info-column__title span {
  display: block;
}

.types__wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.content-types {
  width: 100%;
}

.types__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.types__link {
  display: inline-block;
  margin: 0 auto;
}

.types__link a {
}

.content-types__wrapper {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.info-column {
  position: relative;
}
.info-column-first {
  padding: 0px 50px 0px 0px;
}
.types__swiper {
  overflow: auto;
}

.content-types__item {
  max-width: 450px;
  width: 100%;
  padding: 0px 30px;
  border-left: 1px solid #dedede;
}
.content-types__item .info-column__title {
  text-align: center;
  margin: 0 auto;
}

.content-types__item .info-column__row {
  text-align: center;
}

.info-column__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-column-first .info-column__wrapper {
  align-items: start;
}

.info-column__row {
  padding: 10px 0px;
  text-transform: uppercase;
  max-width: 380px;
  height: 56px;
}

@media (max-width: 1220px) {
  .content-types__wrapper {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap;
  }

  .content-types {
    width: 70%;
    overflow: auto;
  }

  .content-types__wrapper::-webkit-scrollbar {
    height: 4px;
  }
  .content-types__item {
    max-width: 350px;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .types {
    margin-top: 120px;
  }
}

@media (max-width: 768px) {
  .content-types__item {
    border: none;
  }
  .info-column-first {
    padding: 0px 20px 0px 0px;
  }
  .content-types__item {
    padding: 0px 15px;
  }
  .content-types__wrapper {
    gap: 50px;
  }
  .types__buttons {
    display: block;
  }
}

@media (max-width: 576px) {
  .info-column-first {
    padding: 0;
  }
  .content-types__item {
    padding: 0;
  }
  .info-column__row {
    max-width: 130px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
  }
  .content-types__item .info-column__row {
    max-width: 165px;
    width: 100%;
  }
}
